.game {
    @media (min-width: 640px) {
        display: flex;
        justify-content: space-between;
    }
}

.game__status {
    text-align: center;
}

.game__moves {
    min-width: 300px;
    padding: 0;

    list-style: none;
}

.game__moves li {
    margin-bottom: 5px;
}

.button {
    width: 100%;
    padding: 10px 20px;

    text-align: center;

    border: none;
    background: lightgray;
}
