@import '../../common/variables.scss';

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    padding: $s-field;
}

.main__title,
.main__welcom {
    text-align: center;
}
